@import url(http://fonts.googleapis.com/css?family=Old+Standard+TT);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
.container { zoom: 1; margin: 0 auto; padding: 0 0 40px 0; background: #fff; border: solid #BAD7D9; border-width: 2px 0 0 0; text-align: left; }
.container:before { content: ""; display: table; }
.container:after { content: ""; display: table; clear: both; }

body { font-family: Open Sans, Myriad Pro, Myriad, sans-serif; color: #1d1313; font-weight: 300; margin: 0; }

h1 { font-family: Old Standard TT, serif; margin: 0; text-align: left; position: relative; display: block; padding: 0; font-weight: normal; font-size: 44px; text-transform: uppercase; letter-spacing: 3px; font-weight: normal; }

h2 { font-family: Old Standard TT, serif; margin: 0; text-align: left; position: relative; display: block; font-size: 18px; font-style: italic; letter-spacing: -1px; font-weight: normal; }

h3 { font-family: Old Standard TT, serif; margin: 0; padding: 0 0 .5em; font-size: 150%; font-style: italic; font-weight: normal; }

h4 { font-family: Old Standard TT, serif; }

ul { margin: 0; padding: 0; list-style: none; }
ul dl { margin: .3em 0 0; padding: 0; width: 100%; }
ul dl dt { font-family: Old Standard TT, serif; font-size: 100%; }
ul dl dd { margin: 0 0 1em; padding: 0 2em 0 0; font-size: .8em; line-height: 1.5em; }
ul li { margin: 0; padding: 0; }
ul li p { margin: 1em 0.5em; line-height: 120%; }

.resume { position: relative; margin: 0 auto; padding: 0 0 40px 0; background: #fff; text-align: left; }

.resume h3 { float: left; font-size: 20px; width: 15%; }
.resume h3 ~ p { float: left; margin-left: 15%; }
.resume h3 + p { margin-left: inherit; float: left; width: 84%; }

blockquote { margin: 0; padding: 0; line-height: 1.4em; float: right; text-align: right; position: absolute; top: 0px; right: 0px; }
blockquote a { color: #1d1313; transition: color 0.3s linear; }
blockquote a:hover { color: #BAD7D9; }

.resume table { border-collapse: collapse; empty-cells: hide; margin: 0 auto; }
.resume table th, .resume table td { padding: 0px; text-align: left; width: 20%; }

.resume hr { display: block; position: relative; padding: 0; margin: 18px auto; width: 100%; clear: both; border: none; border-top: 1px solid #ccc; font-size: 1px; line-height: 0; overflow: visible; page-break-after: avoid; }
.resume hr:nth-of-type(1) { margin-top: 32px; }

.resume p { margin: .6em 0; padding: 0; display: block; line-height: 24px; }

a { color: #BAD7D9; }

.resume hr { display: block; position: relative; padding: 0; margin: 18px auto; width: 100%; clear: both; border: none; border-top: 1px solid #ccc; font-size: 1px; line-height: 0; overflow: visible; page-break-after: avoid; }
.resume hr:nth-of-type(1) { margin-top: 32px; }

p { margin: .6em 0 16px; padding: 0; display: block; font-size: 100%; line-height: 24px; }

ol { margin: 0; padding: 0 0 .75em; width: 84%; display: inline-block; }
ol li { margin: 0 0 0 1em; padding: 0; width: 30%; float: left; list-style: none; line-height: 24px; }

ul { margin: 0; padding: 0; list-style: circle; width: 80%; float: right; margin-bottom: 0.15em; }
ul li { width: 100%; float: left; margin-bottom: 0.15em; margin: 0; padding: 0s; }
ul li p { margin: 1em 0.5em; line-height: 1.5em; }
ul dl dt { font-size: 122%; font-weight: normal; margin-bottom: 0.75em; }
ul dl dd { padding: 0 4em 0 0; }

#footer { display: none; }
#footer + p { width: 100%; font-size: 11px; text-align: center; }

@media screen { body { padding: 0; }
  .container { width: 100%; } }
@media print { .container { border-top: none; }
  .not-printed { display: none; }
  a { text-decoration: none; color: #000; }
  .page-break { page-break-before: always; padding-top: 20px; } }
@page { size: auto; margin: 10mm; }
a[href$='.pdf'] { display: inline-block; background: #1d1313; color: #fff; padding: 6px 12px; margin-bottom: 6px; text-decoration: none; }

/*# sourceMappingURL=print.css.map */
