/** Less based style sheet. @author Nat Welch, modified by Anurag Mohanty */
@import url(http://fonts.googleapis.com/css?family=Old+Standard+TT);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
body { font-family: Open Sans, Myriad Pro, Myriad, sans-serif; color: #1d1313; background-image: url("https://lh3.googleusercontent.com/-eANPtaczYO8/Vbun951Fd6I/AAAAAAAABoY/MrxGBWgc0LQ/w280-h280-p/avatar.png"); background-attachment: fixed; background-position: left bottom; background-repeat: no-repeat; font-weight: 300; margin: 0; }

a { color: #4F6073; }

h1 { font-family: Old Standard TT, serif; margin: 0; text-align: left; position: relative; display: block; padding: 0; font-weight: normal; font-size: 44px; text-transform: uppercase; letter-spacing: 3px; font-weight: normal; }

h2 { font-family: Old Standard TT, serif; margin: 0; text-align: left; position: relative; display: block; font-size: 18px; font-style: italic; letter-spacing: -1px; font-weight: normal; }

h3 { font-family: Old Standard TT, serif; margin: 0; padding: 0 0 .5em; font-size: 150%; font-style: italic; font-weight: normal; }

h4 { font-family: Old Standard TT, serif; }

.resume { position: relative; margin: 0 auto; padding: 0 0 40px 0; background: #fff; text-align: left; width: 50%; }

.resume h3 { float: left; width: 15%; }
.resume h3 ~ p { float: left; margin-left: 16%; }
.resume h3 + p { margin-left: inherit; float: left; width: 84%; }

.resume blockquote { margin: 0; line-height: 1.0em; float: right; text-align: right; top: 0px; right: 0px; position: absolute; }
.resume blockquote a { color: #1d1313; transition: color 0.3s linear; -webkit-transition: color 0.3s linear; -moz-transition: color 0.3s linear; -ms-transition: color 0.3s linear; -o-transition: color 0.3s linear; transition: color 0.3s linear; }
.resume blockquote a:hover { color: #4F6073; }

.resume table { border-collapse: collapse; empty-cells: hide; margin: 0 auto; }
.resume table th, .resume table td { padding: 0px; text-align: left; width: 30%; }

.resume hr { display: block; position: relative; padding: 0; margin: 18px auto; width: 100%; clear: both; border: none; border-top: 1px solid #ccc; font-size: 1px; line-height: 0; overflow: visible; page-break-after: avoid; }
.resume hr:nth-of-type(1) { margin-top: 32px; }

.resume p { margin: .6em 0; padding: 0; display: block; line-height: 24px; }

p { margin: .6em 0 16px; padding: 0; display: block; line-height: 24px; }

ol { margin: 0; padding: 0 0 .75em; width: 84%; display: inline-block; }
ol li { margin: 0 0 0 1em; padding: 0; width: 30%; float: left; list-style: none; line-height: 24px; }

ul { margin: 0; padding: 0; list-style: circle; width: 80%; float: right; margin-bottom: 0.15em; }
ul li { width: 100%; float: left; margin-bottom: 0.15em; margin: 0; padding: 0s; }
ul li p { margin: 1em 0.5em; line-height: 1.5em; }
ul dl dt { font-size: 122%; font-weight: normal; margin-bottom: 0.75em; }
ul dl dd { padding: 0 4em 0 0; }

#footer { display: none; }
#footer + p { width: 100%; font-size: 11px; text-align: center; }

/*# sourceMappingURL=style.css.map */
