* { background: transparent !important; color: black !important; filter:none !important; -ms-filter: none !important; }
body{
  margin: 0 1.5em 0 1.5em;
  font-size:12pt; max-width:100%;
}
body, p, li, div, h1, h2, h3, h4, h5, h6, td {
  color: #000000;
  font-family: Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
}
h1, h2, h3, h4, h5, h6{
  line-height:.5em;
}
h4,h5,h6{ font-weight: bold; margin: 1em 0;}
em { float:right;}
.resume{
  position: relative;
}
blockquote{
color:#666666;
margin:0;
margin-top:-1.5em;
margin-bottom: -1em;
float:right;
display:inline;
top: 0px;
right: 0px;
position: absolute;
text-align: right;
}
a {
  text-decoration: none;
  color: #0645ad;
}
hr { height: 1px; border:0; border-bottom:1px solid black; }
tr, img { page-break-inside: avoid; }
img { max-width: 100% !important; }

li p {
  margin-top: 0px;
}
li p:last-child { margin:0 }
td, th {
  padding: 0.1em 1em;
}
/* Don't print these things */
.controls {
  display: none;
}
#hideButton {
  display: none;
}
#showButton {
  display: none;
}
#TOC {
  display: none;
}
#bigfoot {
  display: none;
}
.permalink {
  display: none;
}
.not-printed {
  display: none;
}
