//colors
$black: #000;
$color_night_rider_approx: #1d1313;
$white: #fff;
$link: #BAD7D9;
$color_celeste_approx: #ccc;

//fonts
$font_0: Open Sans;
$font_1: Myriad Pro;
$font_2: Myriad;
$font_3: sans-serif;
$font_4: Old Standard TT;
$font_5: serif;

//urls
@import url(http://fonts.googleapis.com/css?family=Old+Standard+TT);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

.container {
  zoom: 1;
  margin: 0 auto;
  padding: 0 0 40px 0;
  background: $white;
  border: solid $link;
  border-width: 2px 0 0 0;
  text-align: left;
  &:before {
    content: "";
    display: table;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
body {
  font-family: $font_0, $font_1, $font_2, $font_3;
  color: $color_night_rider_approx;
  font-weight: 300;
  margin: 0;
}
h1 {
  font-family: $font_4, $font_5;
  margin:0;
  text-align: left;
  position: relative;
  display: block;
  padding: 0;
  font-weight: normal;
  font-size: 44px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: normal;
}
h2 {
  font-family: $font_4, $font_5;
  margin: 0;
  text-align: left;
  position: relative;
  display: block;
  font-size: 18px;
  font-style: italic;
  letter-spacing: -1px;
  font-weight: normal;
}
h3 {
  font-family: $font_4, $font_5;
  margin: 0;
  padding: 0 0 .5em;
  font-size: 150%;
  font-style: italic;
  font-weight: normal;
}
h4 {
  font-family: $font_4, $font_5;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  dl {
    margin: .3em 0 0;
    padding: 0;
    width: 100%;
    dt {
      font-family: $font_4, $font_5;
      font-size: 100%;
    }
    dd {
      margin: 0 0 1em;
      padding: 0 2em 0 0;
      font-size: .8em;
      line-height: 1.5em;
    }
  }
  li {
    margin: 0;
    padding: 0;
    p {
      margin: 1em 0.5em;
      line-height: 120%;
    }
  }
}
.resume {
  position: relative;
  margin: 0 auto;
  padding: 0 0 40px 0;
  background: #fff;
  text-align: left;
}
.resume h3 {
  float: left;
  font-size: 20px;
  width: 15%;
  ~ p {
    float: left;
    margin-left: 15%;
  }
  + p {
    margin-left: inherit;
    float: left;
    width: 84%;
  }
}
blockquote {
  margin: 0;
  padding: 0;
  line-height: 1.4em;
  float: right;
  text-align: right;
  position: absolute;
  top: 0px;
  right: 0px;
  a {
    color: $color_night_rider_approx;
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: color 0.3s linear;
    &:hover {
      color: $link;
    }
  }
}
.resume table {
  border-collapse: collapse;
  empty-cells: hide;
  margin: 0 auto;
  th, td {
      padding: 0px;
      text-align: left;
      width: 20%;
  }
}
.resume hr {
  display: block;
  position: relative;
  padding: 0;
  margin: 18px auto;
  width: 100%;
  clear: both;
  border: none;
  border-top: 1px solid $color_celeste_approx;
  font-size: 1px;
  line-height: 0;
  overflow: visible;
  page-break-after: avoid;
  &:nth-of-type(1) {
    margin-top: 32px;
  }
}
.resume p {
  margin: .6em 0;
  padding: 0;
  display: block;
  line-height: 24px;
}
a {
  color: $link;
}
.resume hr {
  display: block;
  position: relative;
  padding: 0;
  margin: 18px auto;
  width: 100%;
  clear: both;
  border: none;
  border-top: 1px solid $color_celeste_approx;
  font-size: 1px;
  line-height: 0;
  overflow: visible;
  page-break-after: avoid;
  &:nth-of-type(1) {
    margin-top: 32px;
  }
}
p {
  margin: .6em 0 16px;
  padding: 0;
  display: block;
  font-size: 100%;
  line-height: 24px;
}
ol {
  margin: 0;
  padding: 0 0 .75em;
  width: 84%;
  display: inline-block;
  li {
    margin: 0 0 0 1em;
    padding: 0;
    width: 30%;
    float: left;
    list-style: none;
    line-height: 24px;
  }
}
ul {
  margin:0;
  padding:0;
  list-style: circle;
  width: 80%;
  float: right;
  margin-bottom: 0.15em;
  li {
    width: 100%;
    float: left;
    margin-bottom: 0.15em;
    margin: 0;
    padding: 0s;
    p {
      margin: 1em 0.5em;
      line-height: 1.5em;
    }
  }    
  dl {
    dt {
      font-size: 122%;
      font-weight: normal;
      margin-bottom: 0.75em;
    }
    dd {
      padding: 0 4em 0 0;
    }
  }
}
#footer {
  display: none;
  + p {
    width: 100%;
    font-size: 11px;
    text-align: center;
  }
}
@media screen {
  body {
    padding: 0;
  }
  .container {
    width: 100%;
  }
}


@media print {
  .container {
    border-top: none;
  }
  .not-printed {
    display: none;
  }
  a {
    text-decoration: none;
    color: $black;
  }
  .page-break {
    page-break-before: always;
    padding-top: 20px;
  }
}
@page {
  size: auto;
  margin: 10mm;
}
a[href$='.pdf'] {
  display: inline-block;
  background: $color_night_rider_approx;
  color: $white;
  padding: 6px 12px;
  margin-bottom: 6px;
  text-decoration: none;
}